// Our grid variables
$max-width: 1180px;

// Base font-size and line-height
$base-font-size: 1.6rem;
$base-line-height: 1.5;

// Colors
$white: #fff;
$yellow: #ffeb2b;
$dark-yellow: #e7d425;
$black: #1c201f;
$semi-black: #2d2f20;
$grey: #d9d9d9;
$blue: #161b76;
$black-opac: rgba(0, 0, 0, 0);

// Typography
$acrom: 'Acrom W00 ExtraBold';
$courier: 'Courier PS W01';
$courier-italic: 'Courier PS W01 Italic';
$courier-bold: 'Courier PS W01 Bold';

// Font sizes
$heading-one: 12.6rem;
$heading-two: 6.6rem;
$heading-three: 3.6rem;
$heading-four: 2.4rem;
$heading-one-medium: 8.6rem;

// Breakpoints
$breakpoint-small: 650px;
$breakpoint-medium-small: 960px;
$breakpoint-medium: max-width 1100px;
