.site-header {
  position: relative;
}

.site-header__bg {
  object-fit: cover;
  mix-blend-mode: darken;
  isolation: isolate;
}

.logo {
  width: 960px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: yellow;
  font-size: $heading-one;
  z-index: 10;

  rect {
    fill: $black;
  }

  polygon,
  path {
    fill: $yellow;
  }
}
