.header {
  position: relative;
  margin: -5rem 0 5rem;
}

.header__bg {
  isolation: isolate;
  mix-blend-mode: darken;
  object-fit: cover;
}

.logo {
  font-size: $heading-one;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 960px;
  z-index: 10;

  rect {
    fill: $black;
  }

  polygon,
  path {
    fill: $yellow;
  }
}
