.btn {
  background: linear-gradient(to right, $black, rgba($black, .1));
  padding: 25px 50px;
  text-decoration: none;
  color: $white;
  font-size: $heading-four;
  letter-spacing: 7px;
  display: inline-block;
  box-shadow: -10px 10px 0px rgba($black, .2);
}
