.event {
  display: flex;
  margin: 0 0 10rem;
  font-size: 2.2rem;
  line-height: 3.4rem;

  // Last child remove it
  &:nth-child(20) {
    display: none;
  }

  // Every other child needs to be aligned left
  &:nth-child(2n) {

    .event__image {
      order: 1;
      margin: 0 -10% 0 5rem;
    }

    .event__details adress {
      margin: 0 -200px 20px 0;
      float: right;
      width: 400px;
    }
  }

  time {
    font-size: $heading-four;
    display: inline-block;
  }
}

.event__image {
  position: relative;
  margin: 0 5rem 0 -10%;
  max-width: 100%;
  height: 400px;

  img {
    mix-blend-mode: darken;
    filter: grayscale(100%);
    display: block;
    object-fit: cover;
    height: 100%;
    opacity: .5;
  }

  &::after {
    background: url('/graphics/halftone.svg') repeat;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-size: 5px;
  }
}

.event__text {
  width: 100%;
}

.event__details {
  color: $black;
  z-index: 10;
  font-family: $acrom;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  adress {
    font-size: $heading-two;
    line-height: 7rem;
    width: 400px;
    margin: 0 0 20px -150px;
    float: left;
  }
}
